
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@import url('https://fonts.googleapis.com/css?family=Gaegu');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One');
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}


.navbar-laravel {
  background-color: #000;
  color: #fff!important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-laravel {
  background-color: #000;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img {
  vertical-align: middle;
  border-style: none;
  float:none!important;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.8rem 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  border-color: pink!important;
  margin-top:20px!important;
  color: black!important;
}

.btn-primary {    
  color: black!important;
  text-transform:uppercase;
  background-color:white!important;
  border-color: pink!important;
}

.btn-primary:hover {    
  color: black;
  background-color:pink!important;
  border-color: white!important;
}
.nav-link {
  display: block;
  color: #fff!important;
  padding: 0.5rem 1rem;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff!important;
}


.navbar-dark .navbar-brand {
  color: white!important;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: pink!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff!important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: pink!important;
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: grey!important;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: pink!important;
}

.navbar-dark .navbar-toggler {
  color: pink!important;
  border-color: rgba(0, 0, 0, 0.1);
}

/* MY CUSTOM CSS HERE BECAUSE IT'S EASIER THAN ANYWHERE ELSE */
.row {
  margin-left:0px!important;
  margin-right:0px!important;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%!important;
  height: auto !important;
  height: 100%!important;
}


#wrap > .container {
  padding: 0px 15px 0!important;
}
.container .credit {
  margin: 0!important;
}

.container1 {
  margin: 100px!important;
}

.divider {
  height:100px!important;
}



section {
  color: #ffffff;
  min-height: 500px;
  height: auto !important;
  height: 100%;
  padding-top:100px;

}

.bg-1 {
	background: url('/img/bridge2.jpg') no-repeat top center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
    background-size: cover;
  padding:180px;
}

.bg-2 {
	background: url('/img/pumpkin heads.jpg') no-repeat top center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
    background-size: cover;
    padding:180px;
}

.bg-3 {
	background: url('/img/players Handbook new.jpg') no-repeat top center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
    background-size: cover;
    padding:180px;
}

.form-control-small {
  display: inline;
  width: 75px;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.character-name {
  width: 100%;
  text-align: center;
}

// img {
//   pointer-events: none;
// }

.characterSheetHead {
  background: url('/img/CharacterSheetTopLeft.png') no-repeat top center;
  position: relative;
  height: 200px;
  width: 490px;
  float: left;
  -webkit-background-size: 100% auto;
  	-moz-background-size:100% auto;
  	-o-background-size: 100% auto;
  	background-size: 100% auto;
}

.characterSheetHeadRight {
  background: url('/img/CharacterSheetTopRight.png') no-repeat top center;
  position: relative;
  height: 200px;
  width: 590px;
  float: left;
  -webkit-background-size: 100% auto;
  	-moz-background-size:100% auto;
  	-o-background-size: 100% auto;
  	background-size: 100% auto;
}

.topRight {
  position: relative;
  height: 180px;
  display: inline-block;
  width: 550px;
  padding-top: 36px;
  z-index: 999;
  font-family: 'Gaegu', cursive;
  font-size: calc(8px + 1vw);
  margin-left: 20px;
  margin-top: 0px;
  text-transform: capitalize;
}
.up {
  margin-top: 0px;
}

.nameBox {
  position: relative;
  z-index: 999;
  font-family: 'Gaegu', cursive;
  font-size: 3rem;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}
.raceBox {
  position: relative;
  z-index: 999;
  float: left;
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
}
.classBox {
  position: relative;
  z-index: 999;
  float: left;
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;

}

.levelBox {
  position: absolute;
  top: 60px;
  left: 610px;
  z-index: 999;
  float: left;
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
}

.bgBox {
  position: relative;
  z-index: 999;
  float: left;
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.alignmentBox {

  position: relative;
  z-index: 999;
  float: left;
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
}

.xpBox {
  position: relative;
  z-index: 999;
  float: left;
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;

}

.userBox{
  position: relative;
  z-index: 999;
  float: left;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;

}

.attributesHere {
  background: url('/img/AttribBG.png') no-repeat top center;
  position: relative;
  -webkit-background-size: 100% auto;
  -moz-background-size:100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.attBox {
  background: url('/img/attboxBG.png') no-repeat top center;
  
  float: none;
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 12px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;

}

.score {
  z-index: 999;
  font-family: 'Gaegu', cursive;
  font-size: 2.5rem;
  margin-top:-10px!important;
}

.modifier {
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
}



.linkCont {
  position: relative;
  width: initial;
  display: inline-block;
}

.imageLink {
  opacity: 1;
  display: block;
  width: initial;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.linkCont:hover .imageLink {
  opacity: 0.2;
  -ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;
}
// Makes links wiggle! 
@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
	

.linkCont:hover .middle {
  opacity: 1;
  
}

.text {
  color: #000;
  font-size: 30px;
  padding: 16px 32px;
  text-transform: uppercase;

}
.text2 {
  color: #000;
  font-size: 35px;
  padding: 16px 32px;
  text-transform: uppercase;
  line-height:1;
}

.diceLinks {
  padding-top:20px;
}

.secText{
  font-size: 7rem;
  color: pink;
  -webkit-text-stroke: 2px #222;
  /* paint-order: stroke fill; */
  font-family: 'Bowlby One', cursive;
  line-height: 1;
  text-shadow: 2px 2px 2px #000;
  padding: 20px;
}

.card-img-top {
  margin:auto;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 20px;
}

.card-header {
  background-color: black;
  padding-top: 0px!important;
  padding-bottom: 20px;
  margin-top: -20px;
}
.card {
border-top: 20px solid black!important;
border-bottom: 20px solid black!important;
}

.character-icon {
  width: 75%;
  margin:auto;
}

a.ham {
  color: #000!important;
  background-color: transparent!important;
  font-family: 'Gaegu', cursive!important;
  text-decoration: none!important;
  

}
input.ham {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    text-transform:uppercase;
    font-family: 'Gaegu', cursive!important;


     cursor: pointer;
  }

a.burr {
  color: #000!important;
  font-family: 'Gaegu', cursive;
  text-decoration: none!important;
  font-size: 35px;

}

.HPcontainer {
  background: url('/img/savingthrowbg.png') no-repeat;
  height: 480px;
  width: 350px;
  margin-top: 20px;
  padding: 10px;
  float: left;
  position: relative;
  -webkit-background-size: 100% auto;
  -moz-background-size:100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.armorClass {
  background: url('/img/ArmorClassBG.png') no-repeat top center;
  
  float: none;
  display: inline-block;
  text-align: center;
  width: 110px;
  height: 110px;
  padding-top:15px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;
}

.speedBox {
  background: url('/img/Initiative:ArmorClass.png') no-repeat top center;
  
  float: none;
  display: inline-block;
  text-align: center;
  width: 110px;
  height: 110px;
  padding-top:10px;
  text-transform: uppercase;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;
}


.initiative {
  background: url('/img/Initiative:ArmorClass.png') no-repeat top center;
  
  float: none;
  display: inline-block;
  text-align: center;
  width: 110px;
  height: 110px;
  padding-top:10px;
  text-transform: uppercase;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;
}


.currentHP {
  background: url('/img/CurrentHPbg.png') no-repeat top center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  height: 125px;
  width:350px;
  margin-top: 10px;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;

}

.tempHP {
  background: url('/img/TempHPbg.png') no-repeat top center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  height: 110px;
  width:350px;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;

}

.hitDice {
  background: url('/img/HitDice&SavingThrowsbg.png') no-repeat top center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  height: 200px;
  width:165px;
  padding: 10px;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;
  
}

.proficiency {

  background: url('/img/proficiencyBG.png') no-repeat top center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  float: left;
  height: 100px;
  width: 320px;
  padding-top: 25px;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;

}

.skills {

  background: url('/img/skillsbg.png') no-repeat top center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  width: 320px;
  padding: 10px;
  overflow: auto;
  float: left;
  margin:auto;
  -webkit-background-size: contain;
  	-moz-background-size:contain;
  	-o-background-size: contain;
  	background-size: contain;
}
.proficiencyScore{
  font-size: 20px;
  padding-left: 50px;
  margin-top: 10px;
}
.profTitle {
text-transform:uppercase;
padding-left: 48px;
padding-top: 12px;
font-size: 17px;
}
hr {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.skilly {
  font-size: 13px;
  margin-bottom:0!important;
}

.inventoryContainer {
  background: url('/img/WeaponsAndInventorybg.png') no-repeat;
  height: 500px;
  width: 350px;
  padding: 10px;
  float: left;
  position: relative;
  -webkit-background-size: 100% auto;
  -moz-background-size:100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  margin-top: 15px;
  margin-left: 10px;
}

.iconL {
  width: 70px;
  float: left!important;
  margin:10px;
}

.head {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-size: 29px;
  height: 74åpx;
}
.iconR {
  width: 70px;
  float: right!important;
  margin:10px;
}

.clearfix {
  overflow: auto;
}

.innerWeapon {
  border: 0px solid black;
  width: 310px;
  height: 340px;
  margin: auto;
  padding: 10px;
}
.innerInventory {
  border: 0px solid black;
  width: 310px;
  height: 240px;
  margin: auto;
  padding: 10px;
}

.moneySection {
  width: 330px;
  height: 77px;
  margin: auto;
  padding: 16px;
  margin: auto;
  margin-top:-14px;
}
.profskiCon {
  height: 850px;
  width: 330px;
  float: left;
}
.extraBox {
  background: url('/img/blankBG.png') no-repeat;
  height: 350px;
  width: 350px;
  padding: 10px;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-background-size: 100% auto;
  -moz-background-size:100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;

}
.extraExtra{
width: 300px;
height: 80px;
margin: auto;
overflow: scroll;
padding: 10px;
overflow-x: hidden;
}

.moneyBox {
  background: url("/img/moneyBox.png") no-repeat top center;
  float: left;
  height: 43px;
  width: 74px;
  margin: 0px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  background-size: contain;
  font-size: 20px;


}

.outerMoney {
  float: left;
  text-align: center;
  width: 74px;
  height: 60px;
  line-height: .7;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  border: 0px solid black;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
          margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.jumbotron {
  background: url('/img/dashboard scroll.png') no-repeat top center;
  height: 300px;
  -webkit-background-size: 100%;
  -moz-background-size:100%;
  -o-background-size: 100%;
  background-size: 100%;
  margin-bottom: 0px;
}

.top {
  font-size: 2.0rem;
  padding-top: 60px;
}

.scrolly {
  overflow: auto;
  overflow-x:hidden;
  height: 300px;
}

.test {    
  
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); }

  .test:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
  }

.mylinks {
  margin-top:0px!important;

}

h3 {
  text-transform: uppercase;
}

.formCard{
margin-top: 20px;
padding: 20px;
}

a {
  color: #f06292!important;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .jumbotron {
      background:url();
      height: auto;
  }
  .nameBox {
    font-size: 2rem;
    padding-top: 55px;
  }
  .characterSheetHead {
    height: 120px;
  }
  .characterSheetHeadRight{
    height:120px;
  }
  .topRight{
    width:300px;
    font-size: calc(9px + 1vw);
    padding-top: 23px;
    margin-left:10px;
    line-height: .7;
  }
  .attributesHere{
    background: url();
  }
  .attBox {
    margin:0px;
    width: 100px;
    padding: 15px;
    font-size: 2.6vw;
  }
  .score {
    font-size: 2rem;
    margin-top:-16px!important;
  }
  .HPcontainer {
    margin-left: -10px!important;
    margin-top: 0px;
  }
  .inventoryContainer {
    margin-left: -10px;
  }
  .profskiCon {
    height: 830px;
  }
  .extraBox {
    margin-left: -10px;
  }
  .proficiencyScore{
    padding-left: 40px;

  }
  .proficiency {
    height: 110px;
    padding-top:28px;
  }
  .btn {
    font-size: 3vw;

  }
  .bg-1 {
    background: url('/img/bridge2.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size:575px;
      padding:50px;

  }
  .bg-2 {
    background-position: center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size:575px;
      padding:50px;

  }
  .bg-3 {
    background-position: center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size:575px;
      padding:50px;

  }

  section {
    min-height:100px;
    padding:0px;
    height:100px;
  }
  .secText {
    font-size: 9vw;
    padding:0px;
  }
  .divider {
    margin:0px;
  }
  .headhead {
    min-width: 350px;
    margin-left:-100px;
  }
  h3 {
    font-size:4vw;
    text-transform:capitalize;
  }
  .diceLinks {
    display: none;
  }
  .invisaBut {
    display:none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  

  .bg-1 {
    background: url('/img/bridge2.jpg') no-repeat top center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size:575px;
      padding:50px;

  }
  .bg-2 {
    background-position: top center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size:575px;
      padding:50px;

  }
  .bg-3 {
    background-position: top center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size:575px;
      padding:50px;

  }
  .secText {
    font-size: 9vw;
    padding:0px;
  }
  section {
    min-height:100px;
    padding:0px;
    height:200px;
  }
  .jumbotron {
    background:url();
    height: auto;
  }
  .invisaBut {
    display:none;
  }
  .attributesHere{
    background: url();
    margin-left: -60px;
    width: 610px;
  }
  .attBox {
    margin-left: 50px;
    width: 130px;
    padding: 24px;
    font-size: 1.8vw;
    
  }

  .topRight{
    font-size: calc(13px + 1vw);
  }
  .characterSheetHeadRight {
    height: 190px;
    width: 580px;
    float: left;
    margin-left: -40px;
    margin-top: -40px;
  }
  .score {
    font-size: 2.5rem;
    margin-top: -20px !important;
  }
}